<%= simple_format('Hi') %>
<p>
  <%= simple_format('You have been invited to take '+@drive.name+' coding round by '+@drive.organization.name)%>
</p>
<p>
  Test Link: <%=link_to "click here", "#{ENV['APP_URL']}candidate/overview/" + @token %>
</p>



<p>
  If you face any issue while online code submission then submit your code <%=link_to "here", "https://forms.gle/hth8Qiif45PukRms7" %>
</p>